body {
    color: #EEEEEE;
    font-family: Montserrat;
}

h4 {
    margin-bottom: 10px;
}

.jam {
    top: 65px;
}

.jam-header {
    margin-bottom: 30px;
}

.content-source {
    padding: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-source img {
    max-width: 100%;
    height: auto;
}

.change-image {
    margin-bottom: 20px;
}

.perscab-photoedit-body p a{
    color: #EEEEEE;
}

.modal-footer button {
    color: #EEEEEE;
    background-color: rgb(39, 39, 39);
    height: 38px;
    border-radius: 5px;
}