* {
    margin: 0;
    padding: 0;
}

.m_container {
    background-color: #252525;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 740px 1fr;
    grid-template-areas: ". main actual";
}

.main {
    grid-area: main;
    padding-top: 60px;
    /* background-color: #202020; */
}

.whats_new {
    height: auto;
    width: 100%;
    background-color: #333333;
    border-radius: 15px;
    margin-bottom: 10px;
    display: inline-flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding-top: 9px;
    padding-bottom: 9px;
}

.whats_new input {
    background-color: #333333;
    border: none;
    width: 83%;
}

.whats_new label {
    margin-bottom: 0px;
}

.whats_new a {
    cursor: default;
    padding-top: 8px;
}

.whats_new a svg:hover {
    cursor: pointer;
}

.whats_new .send-btn {
    background-color: transparent;
    border: none;
}

.whats_new .send-btn:hover {
    cursor: pointer;
    background-color: #424242;
    border-radius: 5px;
}

.whats_new svg {
    margin-top: 3px;
}

textarea {
    width: 580px;
    height: auto;
    font-family: "Montserrat";
    align-self: center;
    color: #8F8F8F;
    margin-left: 15px;
    font-size: 14px;
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #333333;      /*bg color*/
    resize: none;
    padding-right: 10px;
    padding-top: 7px;
}

.send {
    padding-left: 4px;
    padding-right: 5px;
}

.img-icon {
    cursor: pointer;
    margin-right: 13px;
    display: block;
}

.mini-icon {
    height: 35px;
    width: 35px;
    margin-left: 15px;
    margin-right: 13px;
    border-radius: 35px;
    overflow: hidden;
}

.mini-icon img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.content {
    background-color: #333333;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-bottom: 10px;
    /* border-top: 0.5px solid #303030; */
}

.preview-img {
    overflow: hidden;
    border-radius: 15px;
    margin-top: 13px;
    display: none;
    width: 570px;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 15px;
}

/* 
align - вертикальное выравнивание
justify - горизонтальное выравнивание 
*/

.content-icon {
    width: 73px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-icon img {
    margin-top: 15px;
    margin-left: 15px;
}

.content-headder-title {
    display: flex;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

.content-headder-title p {
    margin-bottom: -5px;
}

.content-headder-title a {
    text-decoration: none;
    color: #EEEEEE;
    border-bottom: none;
}

.content-headder-title a:hover {
    border-bottom: none;
    color: #EEEEEE;
}

.title-info {
    display: flex;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;
    color: rgb(119, 119, 119);
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.content-discription p {
    margin-bottom: 0px;
}

.content-headder {
    padding-left: 15px;
    padding-right: 15px;
}

.wrap {
    padding-top: 18px;
    padding-right: 42px;
    width: 100%;
}

.content-discription {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: rgb(218, 218, 218);
    letter-spacing: 0.1px;
    width: 100%;
    margin-top: 7px;
}

.content-source {
    min-width: 630px;
    max-height: 340px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid rgb(61, 61, 61);
    margin-top: 13px;
}

.content-source img {
    width: 630px;
}

.content-bottom-panel {
    padding-top: 10px;
    margin-bottom: 11px;
    font-family: "Lato";
    color: #C1C1C1;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.content-bottom-panel a {
    height: 17px;
    margin-top: 2px;
    margin-right: 6px;
}

.content-bottom-panel p {
    margin: 0px;
}

.content-bottom-panel-comments {
    display: flex;
    align-items: center;
}

.content-bottom-panel-comments img {
    margin-right: 6px;
}

.content-bottom-panel-reposts {
    margin-left: 111px;
    margin-right: 6px;
    display: flex;
}

.content-bottom-panel-reposts img {
    margin-right: 6px;
    margin-top: 2px;
}

.content-bottom-panel-likes {
    margin-left: 111px;
    margin-right: 6px;
    display: flex;
    align-content: center;
}

.content-bottom-panel-likes img {
    margin-right: 6px;
    margin-top: 2px;
}

.actual {
    grid-area: actual;
    /* display: none; */
}

.actual-panel {
    max-height: 315px;
    width: 315px;
    background-color: #333333;
    border-radius: 15px;
    top: 133px;
    position: relative;
    margin-left: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

.actual-panel-title {
    height: 50px;
    display: flex;
    border-bottom: 0.5px solid #3D3D3D;
}

.actual-panel-title p {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: #eeeeee;
    padding-left: 20px;
    padding-top: 16px;
    align-self: center;
}

.actual-panel-bottom {
    text-decoration: none;
    display: block;
    height: 50px;
    padding-top: 13px;
    padding-left: 20px;
    color: #EEEEEE;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
}

.actual-panel-bottom:hover {
    text-decoration: none;
    cursor: pointer;
    border-bottom: none;
    color: #EEEEEE;
}

.actual-panel-content {
    /* height: 226px; */
    border-bottom: 0.5px solid #3D3D3D;
}

.actual-panel-item {
    height: 58;
    width: 100%;
    padding-top: 11px;
    border-bottom: 0.5px solid #3D3D3D;
    display: flex;
}

.actual-panel-item p {
    margin-bottom: 0px;
}

.actual-panel-item img {
    height: 40px;
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 11px;
}

.actual-panel-item-jam {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 15px;
    color: #eeeeee;
    margin-top: -1px;
}

.actual-panel-item-jam a {
    text-decoration: none;
    color: #eeeeee;
}

.actual-panel-item-discription {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    color: #9A9A9A;
    margin-top: -1px;
}

* {
    box-sizing: border-box;
}

.search-form {
    position: relative;
    width: 290px;
    margin: 0 auto;
    height: 42px;
}

.search-input {
    height: 42px;
    width: 280px;
    padding: 0 42px 0 18px;
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin-right: 20px;
    font-family: Montserrat;
    font-size: 15px;
}

.search-input:focus {
    width: 280px;
    z-index: 1;
    color: #EEEEEE;
}

.search-btn {
    background: #333333;
    border: none;
    height: 42px;
    width: 42px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-left: 2px;
}

.search-btn img {
    padding-bottom: 4px;
    padding-left: 6px;
    height: 22px;
}

.search-btn:before {
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.search {
    max-height: 315px;
    width: 315px;
    background-color: #333333;
    border-radius: 15px;
    top: 133px;
    position: relative;
    margin-left: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.search-result {
    height: 58;
    width: 100%;
    padding-top: 11px;
    border-top: 0.8px solid #3D3D3D;
    display: flex;
}

.search-result p {
    margin-bottom: 0px;
}

.search-result img {
    height: 40px;
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 11px;
}