* {
    margin : 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size  : 28px;
    color      : #FFFFFF;
}

.jam-place {
    top     : 65px;
    padding : 0px;
    position: relative;
}

.jam {
    background-color: #303030;
    border-radius   : 15px;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.25);
    padding         : 35px 40px 30px 40px;
}

.jam-name {
    background-color: #303030;
    color           : #F1F1F1;
    font-size       : 22px;
    font-weight     : bold;
    font-family     : montserrat;
}

.short-description {
    background-color: #303030;
    color           : #EEEEEE;
    font-family     : montserrat;
    font-size       : 18px;
    margin-bottom   : 0px;
}

.date {
    border-radius: 15px;
    width        : auto;
    padding-left : 0;
    font-weight  : 600;
    font-size    : 18px;
}

.dates {
    font-family  : Montserrat;
    color        : #EEEEEE;
    border-radius: 5px;
    margin       : 0;
    margin-bottom: 20px;
    padding-top  : 10px;
}

.jam-header {
    color      : #EEEEEE;
    font-size  : 24px;
    font-weight: bold;
    margin     : 0px;
}

.name {
    font-size  : 16px;
    font-weight: normal;
    font-family: montserrat;
}

.name a {
    text-decoration: none;
    color          : #EEEEEE;
}

.jam-description {
    margin-top : 30px;
    font-size  : 17px;
    font-family: Montserrat;
    color      : #EEEEEE;
}

.preview-img {
    overflow     : hidden;
    border-radius: 10px;
    margin-top   : 0px;
}

.btn-submit {
    margin-top : 35px;
    font-family: Montserrat;
}

.little-text {
    color        : #777777;
    font-size    : 14px;
    font-weight  : 400;
    font-family  : Montserrat;
    margin-bottom: 20px;
}

.middle-text {
    color        : #EEEEEE;
    font-size    : 22px;
    font-weight  : 500;
    margin-bottom: 0px;
}

.date-box {
    border       : 1px solid #525252;
    border-radius: 5px;
    width        : 100%;
    height       : auto;
    margin-bottom: 30px;
    font-family  : Montserrat;
}

.top-box {
    color         : #EEEEEE;
    font-size     : 17px;
    font-weight   : 400;
    text-align    : center;
    padding-top   : 16px;
    padding-bottom: 16px;
    width         : 100%;
    height        : 50%;
    border-bottom : 1px solid #525252;
}

.bottom-box {
    justify-content: space-between;
    color          : #EEEEEE;
    font-size      : 17px;
    text-align     : center;
    padding        : 0px 50px 0 0px;
    height         : 85px;
}

.starts-after {
    padding-top  : 29px;
    padding-right: 25px;
    border-right : 1px solid #525252;
    margin-left  : 50px;
    text-align   : center;
}

.disconnect {
    font-size    : 14px;
    padding-top  : 4px;
    color        : #888888;
    margin-bottom: 0;
}

.disconnect:hover {
    color               : #eeeeee;
    text-decoration-line: underline;
    cursor              : pointer;
}

#btn-place {
    padding-top: 15px;
}

.close {
    color: #777777;
}

.close:hover {
    color: #EEEEEE;
}

.sup-header {
    color      : #FFFFFF;
    font-weight: 500;
    font-size  : 19px;
    margin     : 0;
}

.middle-link {
    color       : #eeeeee;
    font-size   : 16px;
    font-weight : 500;
    padding-top : 29px;
    margin-right: 5px;
}

.middle-link:hover {
    color          : #FFFFFF;
    text-decoration: underline;
    font-size      : 16px;
    font-weight    : 500;
}

#user-games {
    font-size       : 15px;
    font-weight     : 400;
    margin-top      : 5px;
    height          : 36px;
    padding         : 0 7px 0 7px;
    border-radius   : 4px;
    border          : 1px solid #404040;
    background-color: #272727;
    color           : #EEEEEE;
    margin-bottom   : 25px;
}

.modal-title {
    color    : #ffffff;
    font-size: 22px;
}

.modal-content {
    background-color: #333333;
}

.modal-header {
    border-bottom: 1px solid #525252;
    padding      : 20px 30px 20px 30px;
}

.modal-body {
    text-align: left;
    padding   : 20px 30px 20px 30px;
}

.modal-footer {
    border-top: 1px solid #525252;
    padding   : 20px 30px 20px 30px;
}