* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #252525;
    overflow-x: hidden;
}

.jams-panel {
    height: 100%;
    background-color: #303030;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    top: 65px;
    position: relative;
}

.jam-place {
    top: 65px;
    padding: 0px;
    position: relative;
}

.jams-panel-links a {
    display: block;
    text-decoration: none;
    color: #EFEFEF;
    font-family: "montserrat";
    width: 100%;
    padding-bottom: 13px;
}

.jams-panel-links a svg {
    display: none;
    margin-bottom: 3px;
    margin-left: 5px;
}

/* .jams-panel-links a:hover {
    font-weight: 500;
} */

.jams-panel-links a:hover svg {
    display: inline;
}

.jams-panel-links {
    margin-bottom: 20px;
}

.jam {
    height: 350px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 0px;
    margin-bottom: 15px;
}

.jam-title {
    color: #F4F4F4;
    font-family: "montserrat";
    font-weight: bold;
    font-size: 24px;
    padding-left: 30px;
    padding-top: 20px;
    margin: 0px;
    position: absolute;
    text-shadow: rgb(0, 0, 0) 0 0 5px;
}

.jam-description {
    background-color: rgba(0, 0, 0, 0.75);
    height: 85px;
    width: 700px;
    border-radius: 15px;
    margin: 0px;
    position: absolute;
}

.jam_select {
    height: 350px;
    width: 740px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 0px;
    margin-bottom: 15px;
    margin-left: 0;
    background-color: #303030;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.jam-title_select {
    color: #F4F4F4;
    font-family: "montserrat";
    font-weight: bold;
    font-size: 24px;
    text-shadow: rgb(0, 0, 0) 0 0 5px;
    align-self: center;
}

.panel-header {
    margin-top: 35px;
    color: #E8E8E8;
    font-size: 18px;
    font-family: montserrat;
    border-bottom: 1px solid #404040;
    width: 100%;
    padding-bottom: 5px;
}

.btn-create {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 30px;
}

.btn-create a {
    font-family: Montserrat;
    font-size: 16px;
}

.short-description p {
    color: #E8E8E8;
    font-size: 19px;
    font-weight: 400;
    padding-left: 30px;
    margin-bottom: 0px;
    line-height: 23px;
    width: 500px;
}

.date-style {
    background-color: rgb(245, 10, 53);
    height: 31px;
    width: 60px;
    border-radius: 8px;
    color: #E8E8E8;
    margin-left: 10px;
}

.date-style p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 3px;
}

.padding-lr-30 {
    padding-left: 30px;
    padding-right: 30px;
    color: #E8E8E8;
}

.content-source {
    width: 700px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
}

.content-source img {
    width: 100%;
}