* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.settings-panel {
    height: 100%;
    background-color: #303030;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    top: 65px;
    position: relative;
}

.jam-place {
    top: 65px;
    padding: 0px;
    position: relative;
}

.jam {
    background-color: #303030;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 35px 55px 30px 55px;
    margin-bottom: 30px;
}

input {
    background-color: #3D3D3D;
    padding-left: 15px;
    color: #C8C8C8;
}

.jam-header {
    color: #EEEEEE;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

.name {
    font-size: 16px;
    font-weight: normal;
    font-family: montserrat;
}

.name img {
    padding-left: 10px;
}

.jam-description {
    margin-top: 20px;
}

.circle:hover {
    cursor: pointer;
}

.font-dropdown {
    height: 25px;
    padding-top: 0px;
    padding-left: 16px;
    padding-bottom: 2px;
    font-size: 14px;
    background-color: #3D3D3D;
    color: #E8E8E8;
    margin-bottom: 12px;
}

.chs-file {
    background-color: #3D3D3D;
    color: rgb(148, 148, 148);
    padding-left: 20px;
}

.btn-save {
    margin-bottom: 25px;
    margin-top: 10px;
}

.wrap {
    top: 65px;
    position: relative;
}

.preview-img {
    overflow: hidden;
    border-radius: 15px;
    margin-top: 13px;
}