body {
    color: #EEEEEE;
    font-family: Montserrat;
}

h5 {
    margin-bottom: 10px;
}

.jam {
    top: 65px;
}

.jam-header {
    margin-bottom: 30px;
}

.content-source {
    padding: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-short-description {
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
}

input::-webkit-input-placeholder { color: #a7a7a7; }

.user-short-description .row {
    margin: 0;
    padding: 0;
}

.user-short-description input {
    padding-left: 15px;
    height: 38px;
    background-color: #383838;
    color: #EEEEEE;
    font-size: 15px;
}

.user-short-description .row p {
    font-size: 14px;
    color: #bbbbbb;
    margin-top: 10px;
    margin-left: 20px;
}

.content-source img {
    max-width: 100%;
    height: auto;
}

.change-image {
    margin-bottom: 20px;
}

.perscab-photoedit-body p a{
    color: #EEEEEE;
}

.modal-footer button {
    color: #EEEEEE;
    background-color: rgb(39, 39, 39);
    height: 38px;
    border-radius: 5px;
}

.logout:hover {
    color: rgb(230, 70, 70);
}