* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #303030;
    height: 50px;
    width: 100vw;
    align-items: center;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

body {
    background-color: #252525;
}

.logo {
    grid-area: logo;
    background: no-repeat;
    height: 40px;
    background-image: url(../img/logo_light.svg);
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13pt;
    font-family: "Montserrat";
    font-weight: 300;
    padding-bottom: 4px;
    margin: 0px 25px;
}

nav a:hover {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}